html{
    height: 0px;
    border: none;
}

body {
    padding: 10px;
}

#folders-area {
    padding: 0;
}

.drop-zone {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    border: 2px dashed #ccc;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #666;
    position: relative;
    overflow: hidden;
}

.drop-zone:hover {
    background-color: #f5f5f5;
}

.icon {
    font-size: 50px;
    margin-bottom: 10px;
}

.text {
    text-align: center;
    max-width: 80%;
}

input[type="file"] {
    display: none;
}

#noFolder, #noImages{
    display: flex;
}

.preview {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    width: 450px;
}
  
.preview img {
    width: 100%;
    height: 100%;
    padding: 5px;
}

#tiny-model, #bigger-model {
	position: relative;
	top: -6px;
	border: 0;
	transition: all 40ms linear;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 2px;
	margin-right: 2px;
}

#tiny-model:active:focus, #bigger-model:active:focus,
#tiny-model:focus:hover, #bigger-model:focus:hover,
#tiny-model:focus, #bigger-model:focus{
	-moz-outline-style: none;
	outline: medium none;
}

#tiny-model:active, #tiny-model.active, #bigger-model:active, #bigger-model.active {
	top: 2px;
}


#tiny-model.btn-primary, #bigger-model.btn-primary {
	box-shadow: 0 0 0 1px #417fbd inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 #4D5BBE, 0 8px 8px 1px rgba(0, 0, 0, 0.5);
	background-color: #4274D7;
}

#tiny-model.btn-primary:active, #bigger-model.btn-primary:active,
#tiny-model.btn-primary.active, #bigger-model.btn-primary.active {
	box-shadow: 0 0 0 1px #417fbd inset, 0 0 0 1px rgba(255, 255, 255, 0.15) inset, 0 1px 3px 1px rgba(0, 0, 0, 0.3);
	background-color: #4274D7;
}