html{
    height: 0px;
    border: none;
}

body {
    padding: 20px 10px 10px 10px;
    height: 100%;
}

#first-div{
    width: 100%;
    z-index: 0;
}

#folders-area {
    padding: 0;
}

#loading{
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0px;
    bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    background:rgba(255,255,255,0.8);
}

#mode-area{
    position: relative;
    bottom: 20px;
}

#detection-area{
    position: relative;
    bottom: 10px;
}

#drop-zone-folders {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 150px;
    border: 2px dashed #ccc;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #666;
    position: relative;
    overflow: hidden;
}

#drop-zone {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 170px;
    border: 2px dashed #ccc;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #666;
    position: relative;
    overflow: hidden;
}

#drop-zone:hover, #drop-zone-folders:hover {
    background-color: #f5f5f5;
}

.icon {
    font-size: 50px;
    margin-bottom: 10px;
}

.text {
    text-align: center;
    max-width: 80%;
}

input[type="file"] {
    display: none;
}

#noFolder, #noImages{
    display: flex;
}

.preview {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    padding-bottom: 10px;
    width: 450px;
}
  
.preview img {
    width: 100%;
    height: 100%;
    padding: 5px;
}

.card.col-7, .card.col-5{
    height: 80px;
}

div.col-4{
    display: flex;
    justify-content: center;
}

div.col-5{
    display: flex;
    justify-content: center;
}

.row.justify-content-around{
    margin: 0;
}

#models{
    display: inline-block;
    position: relative;
    bottom: 20px;
    width: 110px;
    background-color: #FFF;
    font-size: 33px;
    font-weight: bold;
    padding: 0 15px;
}

#detection{
    display: inline-block;
    position: relative;
    bottom: 10px;
    width: 160px;
    background-color: #FFF;
    font-size: 33px;
    font-weight: bold;
    padding: 0 15px;
}

#tiny-model, #bigger-model, #auto-model{
	position: relative;
	top: -6px;
	border: 0;
	transition: all 40ms linear;
	margin-top: 10px;
	margin-bottom: 10px;
}

#tiny-model:active:focus, #bigger-model:active:focus, #auto-model:active:focus,
#tiny-model:focus:hover, #bigger-model:focus:hover, #auto-model:focus:hover,
#tiny-model:focus, #bigger-model:focus, #auto-model:focus{
	outline: medium none;
}

#tiny-model:active, #tiny-model.active, #bigger-model:active, #bigger-model.active, #auto-model:active, #auto-model.active {
	top: 2px;
}


#tiny-model.btn-primary, #bigger-model.btn-primary, #auto-model.btn-primary{
	box-shadow: 0 0 0 1px gray, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 gray, 0 8px 8px 1px rgba(0, 0, 0, 0.5);
	background-color: gray;
}

#tiny-model.btn-primary:active, #bigger-model.btn-primary:active, #auto-model.btn-primary:active,
#tiny-model.btn-primary.active, #bigger-model.btn-primary.active, #auto-model.btn-primary.active{
	box-shadow: 0 0 0 1px #417fbd inset, 0 0 0 1px rgba(255, 255, 255, 0.15) inset, 0 1px 3px 1px rgba(0, 0, 0, 0.3);
	background-color: #4274D7;
}

#on-button, #off-button{
	position: relative;
	top: -6px;
	border: 0;
	transition: all 40ms linear;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 2px;
	margin-right: 2px;
}

#on-button:active:focus, #off-button:active:focus,
#on-button:focus:hover, #off-button:focus:hover,
#on-button:focus, #off-button:focus{
	-moz-outline-style: none;
	outline: medium none;
}

#on-button:active, #on-button.active, #off-button:active, #off-button.active {
	top: 2px;
}


#on-button.btn-success {
	box-shadow: 0 0 0 1px green inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 green, 0 8px 8px 1px rgba(0, 0, 0, 0.5);
	background-color: green;
}

#on-button.btn-success:active,
#on-button.btn-success.active {
	box-shadow: 0 0 0 1px green inset, 0 0 0 1px rgba(255, 255, 255, 0.15) inset, 0 1px 3px 1px rgba(0, 0, 0, 0.3);
	background-color: green;
}

#off-button.btn-danger {
	box-shadow: 0 0 0 1px #b93802 inset, 0 0 0 2px rgba(255, 255, 255, 0.15) inset, 0 8px 0 0 #AA0000, 0 8px 8px 1px rgba(0, 0, 0, 0.5);
	background-color: #D73814;
}

#off-button.btn-danger:active,
#off-button.btn-danger.active {
	box-shadow: 0 0 0 1px #b93802 inset, 0 0 0 1px rgba(255, 255, 255, 0.15) inset, 0 1px 3px 1px rgba(0, 0, 0, 0.3);
	background-color: #D73814;
}
